
@{
    ViewBag.Title = "Health_and_safety_policy";
    ViewBag.Services = "active";
}
}



<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><strong>Health &</strong>  Safety policy</h2>

        <p>It describe how you will manage health and safety in your organization and will let your staff and others know about your commitment to health and safety. This will be your health and safety policy, it should clearly say who does, when and how. </p>

        <div class="clearfix mar_top2"></div>

        <div class="image_frame"><a><img src="~/images/hse.jpg" alt="Safe Mode Corporation" /></a></div>


        <div class="our_products">



        </div><!-- end products -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        @Html.Action("links", "Services")

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>



        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



            <div class="portfolio_sidebar_widget">



                </ul>

            </div>

        </div><!-- end section -->

    </div>

</div><!-- end content area -->
