
@{
    ViewBag.Title = "Health_and_safety_audit";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><strong>Health &</strong> Safety audit</h2>

        <p>The continual audit based to international health and safety standards will provide a solid health and safety management system platform that organization therefore, We carry out Site Safety Audits checking the site setup, the Construction Health and Safety Plan and that risk assessments and method statements are in place and works are being carried out in accordance with them, ensuring compliance with current legislation. </p>

        <div class="clearfix mar_top2"></div>

        <div class="image_frame"><a><img src="~/images/audit.jpg" alt="Safe Mode Corporation" /></a></div>


        <div class="our_products">



        </div><!-- end products -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        @Html.Action("links", "Services")

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>



        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



            <div class="portfolio_sidebar_widget">



                </ul>

            </div>

        </div><!-- end section -->

    </div>

</div><!-- end content area -->

