
@{
    ViewBag.Title = "HSE_Construction_plan";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><strong>HSE</strong> Construction plan</h2>

        <p>To outline guidelines for the health, safety and environment plan based to Qatar construction specifications and international health and safety standards. We provide the fundamental documents related to health and safety in construction sites to be a solid base to maintain a safe workplace.</p>

        <div class="clearfix mar_top2"></div>

        <div class="image_frame"><a><img src="~/images/hseplan.jpg" alt="Safe Mode Corporation" /></a></div>


        <div class="our_products">



        </div><!-- end products -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        @Html.Action("links", "Services")

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>



        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



            <div class="portfolio_sidebar_widget">



                </ul>

            </div>

        </div><!-- end section -->

    </div>

</div><!-- end content area -->

