
@{
    ViewBag.Title = "HSE_Training";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><strong>Health &</strong> Safety training</h2>

        <p>Health and safety awareness training is mandatory for staff at all levels of an organization and it considered a key to reducing the number and severity of workplace injuries and What makes our health and safety training different to many other course providers is the scientists and safety experts who deliver the training. They are not only trainers they are specialists working daily in research and incident investigation and have enough experience in the field. </p>

        <div class="clearfix mar_top2"></div>

        <div class="image_frame"><a><img src="~/images/training.jpg" alt="Safe Mode Corporation" /></a></div>


        <div class="our_products">



        </div><!-- end products -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        @Html.Action("links", "Services")

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>



        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



            <div class="portfolio_sidebar_widget">



                </ul>

            </div>

        </div><!-- end section -->

    </div>

</div><!-- end content area -->

