
@{
    ViewBag.Title = "Index";
    ViewBag.Services = "active";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><strong>Our</strong>  Services</h2>

        <p>Our services are supported by our technical team (during office hours) giving you access to our professional consultants for advice on health, safety and environmental matters. The quality of our work is essential.  We aim to deliver a health, safety and environmental consultancy service that gives value for money and makes your workplace a safer environment. HSE is one of our standard services, but should you require any additional assistance such as on-site support, or attendance at meetings, we can customize the service to meet your needs.</p>

        <div class="clearfix mar_top2"></div>

        <div class="image_frame"><a><img src="~/images/services.jpg" alt="Safe Mode Corporation" /></a></div>



        <div class="our_products">



        </div><!-- end products -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        @Html.Action("links", "Services")

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>



        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



            <div class="portfolio_sidebar_widget">



                </ul>

            </div>

        </div><!-- end section -->

    </div>

</div><!-- end content area -->

