
@{
    ViewBag.Title = "Provide_third_party_equipment_certificates";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><strong>Provide </strong> third party equipment certificates</h2>

        <p>We are independent and qualified department to look after the site moving and lifting equipment to determine if it meets standards.</p>

        <div class="clearfix mar_top2"></div>

        <div class="image_frame"><a><img src="~/images/thirdparty.jpg" alt="Safe Mode Corporation" /></a></div>


        <div class="our_products">



        </div><!-- end products -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

       @Html.Action("links", "Services")

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>



        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



            <div class="portfolio_sidebar_widget">



                </ul>

            </div>

        </div><!-- end section -->

    </div>

</div><!-- end content area -->

