
@{
    ViewBag.Title = "Risk_Assessments";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><strong>Risk Assessments </strong> for entire site construction tasks</h2>

        <p>As part of managing the health and safety of your business you must control the risks in your workplace. To do this we will help you to recognize about what might cause harm to people and decide whether you are taking reasonable steps to prevent that harm. After we setup what is required, we will train the involved persons in such particular tasks in order to execute the job with minimum risks. </p>

        <div class="clearfix mar_top2"></div>

        <div class="image_frame"><a><img src="~/images/risk.jpg" alt="Safe Mode Corporation" /></a></div>


        <div class="our_products">



        </div><!-- end products -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

       @Html.Action("links", "Services")

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>



        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



            <div class="portfolio_sidebar_widget">



                </ul>

            </div>

        </div><!-- end section -->

    </div>

</div><!-- end content area -->

