
@{
    ViewBag.Title = "Supplying_Senior_HSE_Personnel";
}

<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><strong>Health and safety </strong> personnel consultancy</h2>

        <p>Providing qualified and experienced health and safety advisers under consultancy contracts for the consultant organizations those are supervising the construction phases of the project and reporting directly to the consultant project management. </p>

        <div class="clearfix mar_top2"></div>

        <div class="image_frame"><a><img src="~/images/personal.jpg" alt="Safe Mode Corporation" /></a></div>


        <div class="our_products">



        </div><!-- end products -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        @Html.Action("links", "Services")

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>



        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



            <div class="portfolio_sidebar_widget">



                </ul>

            </div>

        </div><!-- end section -->

    </div>

</div><!-- end content area -->

