@{
    ViewBag.Title = "About";
    ViewBag.About = "active";
}
<div class="page_title">
    <div class="container">
        <div class="title"><h1>About us</h1></div>
        <div class="pagenation">&nbsp;@Html.ActionLink("Home", "Index", "Home") <i>/</i> About us</div>
    </div>
</div><!-- end page title -->

<div class="clearfix"></div>


<!-- Contant
======================================= -->

<div class="container">

    <div class="content_left">

        <h2><strong>Who</strong> we are?</h2>

        <p>Is based in Qatar on 2016 to provide a range of health and safety management services throughout Qatar state territory. We enable organizations to outsource all or part of this important aspect of their business to our fully qualified health and safety representatives. By becoming actively involved in all aspects of your health and safety, we relieve you of the burden of its management. Our health and safety consultants can provide unlimited support, unlimited site visits and unlimited health and safety training to ensure compliance with all relevant legislation.</p>

        <div class="clearfix mar_top2"></div>

        <div class="image_frame"><a><img src="~/images/about.jpg" alt="Safe Mode Corporation" /></a></div>


        <div class="our_products">



        </div><!-- end products -->

    </div><!-- end content left side area -->
    <!-- right sidebar starts -->
    <div class="right_sidebar">

        <div class="sidebar_widget">
            <div class="sidebar_title"><h3>What <i>we do?</i></h3></div>
            <ul class="arrows_list1">
                <li><a href="services_Health_and_safety_policy.html"><i class="fa fa-angle-right"></i> Health and safety policy</a></li>
                <li><a href="services_HSE_Construction_plan.html"><i class="fa fa-angle-right"></i> HSE Construction plan</a></li>
                <li><a href="services_Health_and_safety_audit.html"><i class="fa fa-angle-right"></i> Health and safety audit</a></li>
                <li><a href="services_HSE_Training.html"><i class="fa fa-angle-right"></i> HSE Training</a></li>
                <li><a href="services_Risk_Assessments.html"><i class="fa fa-angle-right"></i> Risk Assessments</a></li>
                <li><a href="services_Supplying_Senior_HSE_Personnel.html"><i class="fa fa-angle-right"></i> Supplying Senior HSE Personnel</a></li>
                <li><a href="services_Provide third_party_equipment_certificates.html"><i class="fa fa-angle-right"></i> Provide third party equipment certificates</a></li>
            </ul>
        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



        </div><!-- end section -->

        <div class="clearfix mar_top4"></div>



        <div class="clearfix mar_top4"></div>

        <div class="sidebar_widget">



            <div class="portfolio_sidebar_widget">



                </ul>

            </div>

        </div><!-- end section -->

    </div>

</div><!-- end content area -->

