
@{
    ViewBag.Title = "Calendar";
    ViewBag.Calendar = "active";
}

<div class="page_title">
    <div class="container">
        <div class="title"><h1>Calendar</h1></div>
        <div class="pagenation">&nbsp;@*<a href="gallary_individual.html">Find your date for training..</a>*@</div>
    </div>
</div><!-- end page title -->

<div class="clearfix"></div>


<!-- Contant
======================================= -->

<div class="container">

    <div class="content_fullwidth">

        <h2>Calendar</h2>

        <div class="one_third">
            <div class="portfolio_image">
                <i class="icon-search icon-4x"></i>
                <a class="fancybox" href="~/images/gallary1.jpg" data-fancybox-group="gallery" title="Publishing has packages"><img src="~/images/gallary1.jpg" alt="" /></a>
                <div class="title">Calendar1</div>
            </div>
        </div><!-- end section -->

        <div class="one_third">
            <div class="portfolio_image">
                <i class="icon-search icon-4x"></i>
                <a class="fancybox" href="~/images/gallary2.jpg" data-fancybox-group="gallery" title="Desktop publish packages"><img src="~/images/gallary2.jpg" alt="" /></a>
                <div class="title">Calendar2</div>
            </div>
        </div><!-- end section -->

        <div class="one_third last">
            <div class="portfolio_image">
                <i class="icon-search icon-4x"></i>
                <a class="fancybox" href="~/images/gallary3.jpg" data-fancybox-group="gallery" title="Prity have suffered alteration form"><img src="~/images/gallary3.jpg" alt="" /></a>
                <div class="title">Calendar3</div>
            </div>
        </div><!-- end section -->



    </div>

</div><!-- end content area -->


