@{ 
    ViewBag.Home = "active";
}
<!-- Slider
======================================= -->

<div class="container_full">

    <div class="fullwidthbanner-container">

        <div class="fullwidthbanner">

            <ul>
                <!-- SLIDE 1 -->
                <li data-transition="fade" data-slotamount="9" data-thumb="http://placehold.it/1920x500">

                    <img src="~/images/sliders/1.jpg" alt="" />

                    <div class="caption lfl" data-x="698" data-y="0" data-speed="1800" data-start="800" data-easing="easeOutExpo"><img src="~/images/sliders/revolution/transparent-graph.png" alt="" /></div>


                    <div class="caption lft big_white" data-x="0" data-y="62" data-speed="900" data-start="1000" data-easing="easeOutExpo">Safety Solutions</div>

                    <div class="caption lft big_orange" data-x="4" data-y="140" data-speed="900" data-start="1700" data-easing="easeOutExpo">It is not just only training, it is growth  of safety culture</div>



                    <div class="caption sfb" data-x="450" data-y="220" data-speed="900" data-start="3800" data-easing="easeOutExpo">
                        <div class="round1">get your<br /><i> Services</i> <br />with Us</div>
                    </div>

                    <div class="caption sfb" data-x="505" data-y="285" data-speed="900" data-start="4000" data-easing="easeOutExpo">
                        <div class="price">Leading<br /><i>HSE</i><br />Solutions</div>
                    </div>

                    <div class="caption lfb" data-x="650" data-y="280" data-speed="900" data-start="3000" data-easing="easeOutExpo"><img src="~/images/sliders/revolution/arrow.png" alt="" /></div>

                </li>

                <!-- SLIDE 2 -->
                <li data-transition="slideleft" data-slotamount="9" data-thumb="~/images/sliders/2.jpg">

                    <img src="~/images/sliders/2.jpg" alt="" />

                    <div class="caption lfl" data-x="698" data-y="0" data-speed="1800" data-start="800" data-easing="easeOutExpo"><img src="~/images/sliders/revolution/transparent-graph.png" alt="" /></div>

                    <div class="caption lfr" data-x="670" data-y="0" data-speed="900" data-start="900" data-easing="easeOutExpo"><img src="~/images/sliders/1.png" alt="" /></div>

                    <div class="caption lft big_white" data-x="0" data-y="62" data-speed="900" data-start="1000" data-easing="easeOutExpo">Safety Training</div>

                    <div class="caption lft big_orange" data-x="4" data-y="130" data-speed="900" data-start="1700" data-easing="easeOutExpo">Get professional training </div>





                </li>

                <!-- SLIDE 3 -->
                <li data-transition="papercut" data-slotamount="9" data-thumb="http://placehold.it/1920x500">

                    <img src="~/images/sliders/3.jpg" alt="" />

                    <div class="caption lfl" data-x="698" data-y="0" data-speed="1800" data-start="800" data-easing="easeOutExpo"><img src="~/images/sliders/revolution/transparent-graph.png" alt="" /></div>


                    <div class="caption lft big_white" data-x="0" data-y="62" data-speed="900" data-start="1000" data-easing="easeOutExpo">Avoid Hazards</div>

                    <div class="caption lft big_orange" data-x="4" data-y="130" data-speed="900" data-start="1700" data-easing="easeOutExpo">By getting proper Training</div>




                </li>




            </ul>

        </div>

    </div>

</div><!-- end slider -->

<div class="features_sec03">

    <div class="container">

        <div class="left">

            <h2>Who <strong>we are?</strong></h2>
            <p>Is based in Qatar on 2016 to provide a range of health and safety management services throughout Qatar state territory. We enable organizations to outsource all or part of this important aspect of their business to our fully qualified health and safety representatives. By becoming actively involved in all aspects of your health and safety, we relieve you of the burden of its management. Our health and safety consultants can provide unlimited support, unlimited site visits and unlimited health and safety training to ensure compliance with all relevant legislation.</p>


        </div><!-- end left column -->

        <div class="center">

            <h2>Our <strong>Training</strong> <em>Meet our professionals</em></h2>

            <div id="tabs">

                <ul class="tabs">

                    <li class="active"><a href="#tab1"><b>1</b>SMC Training</a></li>
                    <li class=""><a href="#tab2"><b>2</b>Approved Training</a></li>
                    <li class="last"><a href="#tab3"><b>3</b>Accredited Training</a></li>

                </ul><!-- /# end tab links -->

                <div class="tab-container">

                    <div id="tab1" class="tab-content">
                        <img src="~/images/tr1.png" class="image_left1" alt="" />
                        <h4>SMC Training</h4>
                        <ul>
                            <li>Providing training accredited by worldwide health and safety organizations. We have qualified trainers able to provide many topics related to the site activities being carry on site ensuring legal compliance and protection for your employees. </li>

                        </ul>
                    </div><!-- end tab single section -->


                    <div id="tab2" class="tab-content">
                        <img src="~/images/tr2.png" class="image_left1" alt="" />
                        <h4>Approved Training</h4>
                        <ul>
                            <li>Providing training accredited by Qatar Authorities. We have qualified trainers able to provide many topics related to the site activities being carry on site ensuring legal compliance and protection for your employees.</li>

                        </ul>
                    </div><!-- end tab single section -->


                    <div id="tab3" class="tab-content">
                        <img src="~/images/tr3.png" class="image_left1" alt="" />
                        <h4>Accredited Training</h4>
                        <ul>
                            <li>Providing training accredited by worldwide health and safety organizations. We have qualified trainers able to provide many topics related to the site activities being carry on site ensuring legal compliance and protection for your employees.</li>

                        </ul>
                    </div><!-- end tab single section -->

                </div>

            </div>

        </div><!-- end center column -->

        <div class="right">

            <h2>Contact <strong>Us</strong></h2>

            <div class="accrodation">

                <!-- section 1 -->
                <span class="acc-trigger active"></span>
                <div class="acc-container">
                    <div class="footer_logo"><img src="~/images/logo.png" alt="" /></div><!-- end footer logo -->

                    <ul class="contact_address">
                        <li>P.O.B 22390<br />Ain Khalid, Doha</br>State of Qatar</li>
                        <li>+974 74767701</li>
                        <li>+974 74767701</li>
                        <li>info@safe-mc.com</li>
                        <li>www.safe-mc.com</li>

                    </ul>
                </div>


            </div>

        </div><!-- end right column -->

    </div>

</div><!-- end features section 3 -->

<div class="clearfix mar_top1"></div>


<div id="parallax_01" class="bg_parralax" data-type="background" data-speed="10">
    <div class="joosa features5">
        <div class="container">

            <h2>
                Our <strong>awesome</strong> services
                <em>We aim to deliver a health, safety and environmental consultancy service that gives value for money and makes your workplace a safer environment</em>
            </h2>

            <div class="one_half">

                <div class="ser_box">

                    <div class="left_icon"><i class="fa fa-check-square-o fa-3x"></i></div>

                    <h4>HSE management system</h4>
                    <p>we provide you a management system to improve your ability to identify and remove hazards and decrease health and safety risk at the workplace.</p>

                </div><!-- end section -->

                <div class="clearfix mar_top11"></div>

                <div class="ser_box">

                    <div class="left_icon"><i class="fa fa-check-square-o fa-3x"></i></div>

                    <h4>HSE construction plan</h4>
                    <p>To outline guidelines for the health, safety and environment plan based to Qatar construction specifications and international health and safety standards.</p>

                </div><!-- end section -->

                <div class="clearfix mar_top11"></div>

                <div class="ser_box">

                    <div class="left_icon"><i class="fa fa-check-square-o fa-3x"></i></div>

                    <h4>Health and safety audit</h4>
                    <p>The continual audit based to international health and safety standards will provide a solid health and safety management system platform the organization.</p>

                </div><!-- end section -->

            </div>

            <div class="one_half last">

                <div class="ser_box">

                    <div class="left_icon"><i class="fa fa-check-square-o fa-3x"></i></div>

                    <h4>Health and safety training on spot</h4>
                    <p>Health and safety awareness training is mandatory for staff at all levels of an organization and it considered a key to reducing the number and severity of workplace injuries.</p>

                </div><!-- end section -->

                <div class="clearfix mar_top11"></div>

                <div class="ser_box">

                    <div class="left_icon"><i class="fa fa-check-square-o fa-3x"></i></div>

                    <h4>Accredited worldwide training</h4>
                    <p>this certificate is recognized all over the world as a badge of professionalism and commitment to health and safety, the qualification is accredited by international bodies. </p>

                </div><!-- end section -->

                <div class="clearfix mar_top11"></div>

                <div class="ser_box">

                    <div class="left_icon"><i class="fa fa-check-square-o fa-3x"></i></div>

                    <h4>Supplying Senior HSE Personnel</h4>
                    <p>providing qualified and experienced health and safety advisers under consultancy contracts for the consultant organizations those are supervising the construction phases of the project.</p>



                </div><!-- end section -->

            </div>

        </div>
    </div>
</div><!-- end features section 5 -->

<div class="clearfix"></div>

<div class="joosa features7">
    <div class="container">

        <div class="one_half">

            <h2>Why <strong>Choose Us?</strong></h2>

            <div class="whyus">

                <strong>Here Are Some Of The Reasons to choose our services</strong>

                <ul>
                    <li> Unique skills of delivering training materials to audience</li>
                    <li>Trainers Competency</li>
                    <li>Qualified and experienced staff</li>
                </ul>

                <ul>
                    <li>Accredited on the worldwide qualification framework</li>
                    <li>Specialized programs</li>
                    <li>Accessible reference and open communication channels</li>
                </ul>

            </div>

        </div><!-- end why choose us -->

        <div class="one_half last">

            <h2>Our <strong>Accreditation</strong></h2>

            <div class="people_says">

                <div class="faide_slider">

                    <div id="slider">

                        <div id="slide1">
                            <img src="~/images/ac1.jpg" alt="" /><p>Description about this accreditation will come here. Description about this accreditation will come here. Description about this accreditation will come here. Description about this accreditation will come here. Description about this accreditation will come here.

                        </div><!-- end slide1 -->

                        <div id="slide2">
                            <img src="~/images/ac2.jpg" alt="" /><p><p>Description about this accreditation will come here. Description about this accreditation will come here. Description about this accreditation will come here. Description about this accreditation will come here. Description about this accreditation will come here.


                        </div><!-- end slide2 -->

                        <div id="slide3">
                            <img src="~/images/ac3.jpg" alt="" /><p><p>Description about this accreditation will come here. Description about this accreditation will come here. Description about this accreditation will come here. Description about this accreditation will come here. Description about this accreditation will come here.

                        </div><!-- end slide3 -->

                    </div>

                    <div class="clearfix"></div>

                    <ul class="controlls">

                        <li><a href="#" class="slide1"></a></li>

                        <li><a href="#" class="slide2"></a></li>

                        <li><a href="#" class="slide3"></a></li>

                    </ul>

                </div>

            </div>

        </div><!-- end people says -->

    </div>
</div>



  <!-- REVOLUTION SLIDER -->
<script type="text/javascript">

	var tpj=jQuery;
	tpj.noConflict();

	tpj(document).ready(function() {

	if (tpj.fn.cssOriginal!=undefined)
		tpj.fn.css = tpj.fn.cssOriginal;

		var api = tpj('.fullwidthbanner').revolution(
			{
				delay:9000,
				startwidth:1170,
				startheight:500,

				onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off

				thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
				thumbHeight:50,
				thumbAmount:3,

				hideThumbs:200,
				navigationType:"none",				// bullet, thumb, none
				navigationArrows:"solo",				// nexttobullets, solo (old name verticalcentered), none

				navigationStyle:"round",				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


				navigationHAlign:"center",				// Vertical Align top,center,bottom
				navigationVAlign:"bottom",					// Horizontal Align left,center,right
				navigationHOffset:30,
				navigationVOffset:-40,

				soloArrowLeftHalign:"left",
				soloArrowLeftValign:"center",
				soloArrowLeftHOffset:0,
				soloArrowLeftVOffset:0,

				soloArrowRightHalign:"right",
				soloArrowRightValign:"center",
				soloArrowRightHOffset:0,
				soloArrowRightVOffset:0,

				touchenabled:"on",						// Enable Swipe Function : on/off


				stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
				stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

				hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
				hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
				hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


				fullWidth:"on",

				shadow:0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

			});

});



</script>